body {
  font-family: "Inter", sans-serif;
  background: #0f172a;
}

.container {
  height: 100vh;
  display: grid;
  place-items: center;
}

.card {
  width: 350px;
  padding: 30px;
  background: white;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 10px 25px rgba(0,0,0,0.15);
}

.card h2 {
  margin-bottom: 20px;
  font-weight: 600;
}

input {
  width: 100%;
  margin-bottom: 20px;
  cursor: pointer;
}

button {
  width: 100%;
  padding: 10px;
  font-weight: 600;
  border: none;
  background: #2563eb;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background: #1d4ed8;
}
